<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeadControl.Domain.Properties.Settings.LeadControlConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=LeadControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeadControl.Domain.Properties.Settings.LeadControlConnectionString1"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=LeadControl;User ID=super;Password=super123"
            providerName="System.Data.SqlClient" />
        <add name="LeadControl.Domain.Properties.Settings.LeadControlConnectionString2"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=LeadControl;User ID=super"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>